*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.login-left{
    background-image: url("./../images/vesinh.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    image-rendering: pixelated;
}

.disable-button{
    opacity: 0.8;
}

input:focus {
    outline-color: #71D399;
  }